body {
  background-color: black;
}

h1,
h2,
p {
  font-family: Verdana;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-weight: normal;
  font-size: 21px;
  color: gray;
}

.download {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

.copyright {
  text-align: right;
}
